* {
  margin: 0px;
  padding: 0px;

  font-family: 'Courier New', Courier, monospace;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 120vh;
  background-image: url("../img/maximalfocus-HakTxidk36I-unsplash.jpg");
  background-size: cover;
}

.sidebar__attribution {
  margin-top: auto;
  align-self: center;
}

.sidebar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  width: inherit;
  height: 15vh;
  background-color: rgba(40, 40, 40, 0.8);
}

.sidebar__logo__image {
  width: 15%;
  height: auto;
}

.sidebar__logo__text {
  font-size: 3rem;
}

